:host {
  width: 100%;
}

div {
  width: 100%;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
