li {
  width: 100%;
  background-color: #60a5fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 3px;
}

.taskItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding-left: 0.5rem;
}

.taskActions {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-end;
  padding-right: 0.3rem;
}

h2 {
  margin: 0.25rem 0 0.5rem 0;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
