main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.userList {
  padding: 0.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
