li {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  width: 90%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.active {
  border: 2px solid #60a5fa;
  background-color: #dbedff;
}
