:host {
  width: 70%;
}

.userFocusContainer {
  border: 1px solid #ccc;
  padding: 0 1rem;
}

.taskList {
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTaskContainer {
  height: 100%;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userImg {
  width: 3rem;
  height: 3rem;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
